@font-face {
    font-family: 'minecraft';
    src: url('fonts/Minecraft.ttf');
}

body {
    margin: 0;
    background: #4e5c30;
    color: #272e18;
    text-align: left;
    font-family: 'minecraft', sans-serif;
}

header {
    padding: 20px;
    background-color: #3c4821;
    color: #fff;
}

#calculator-container {
    float: left; /* This makes the calculator container align to the left */
    position: relative;
    width: 300px; /* Adjust to match the width of your calculator image */
    margin: 20px;
}

#calculator-image {
    width: 100%;
    display: block;
}

#p5-sketch {
    position: absolute;
    top: 10%;  /* Adjust these values to position the iframe correctly on the calculator image */
    left: 10%;
    width: 80%; /* These dimensions should be fine-tuned to fit the display area of your calculator image */
    height: 60%;
    border: none; /* Removes the default border around iframes */
}

#additional-info {
    margin-top: 20px;
    color: #ececec;
}
